<!doctype html>
<html>
<head>
<title>Local Authentification</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<h1>Authentification</h1>
{% block content %}{% endblock %}
</body>
</html>